# Individual Assignment
## Course: Machine Learning

**Student Details:**
- <h5>Name: Desalegn Sendek</h5>
- <h5>ID: ETS 1553/13</h5>
- Section: C
- Department: Software Engineering
- Addis Ababa Science and Technology University (AASTU)

**Submitted To:**
- Mr. Fedlu N
- Submission data: April 25-2024

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import csv
#import matplotlib.pylab as plt
#import matplotlib

<h4>
    Series
</h4>

In [2]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Convert the list to a series
series = pd.Series(numbers)

# Print the series
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# Indexing
print("\nIndexing")
print(numbers[2])

# Slicing
print("\nSlicing")
print(numbers[1:4])

# Arithmetic
print("\nArithmetic")
print(numbers * 2)

Indexing
3

Slicing
[2, 3, 4]

Arithmetic
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [4]:
#dictionary
dictionary = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
series_ = pd.Series(dictionary)
print("\nSeries from dictionary:")
print(series_)

Series from dictionary:
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# some operations on Dictionary
# Indexing
print("\nIndexing")
print(series_['b'])

# Slicing
print("\nSlicing")
print(series_['b':'d'])

# Arithmetic
print("\nArithmetic")
print(series_ * 2)

Indexing
2

Slicing
b    2
c    3
d    4
dtype: int64

Arithmetic
a     2
b     4
c     6
d     8
e    10
dtype: int64

<h4>
    Creating dataframe and make use pandas library
</h4>

In [6]:
# Create a dictionary with data
data = {'Name': ['Ujulu', 'Masiwa', 'Ali', 'Mosnet'],
        'Age': [26, 32, 31, 28],
        'Country': ['Kenya', 'Uganda', 'Ethiopia', 'Tanzania']}

# Convert the dictionary to a data frame
df = pd.DataFrame(data)

# Print the initial data frame
print("Initial data frame:")
print(df)

Initial data frame:
     Name  Age   Country
0   Ujulu   26     Kenya
1  Masiwa   32    Uganda
2     Ali   31  Ethiopia
3  Mosnet   28  Tanzania

In [7]:
# Update a value in the data frame
df.at[0, 'Age'] = 28

In [8]:
# Add a new column to the data frame
df['City'] = ['Jimma','Addis Ababa', 'Nairobi', 'Mombassa']

In [9]:
# Delete a column from the data frame
# df.drop('Country', axis=1, inplace=True)

In [10]:
# Print the updated data frame
print("\nUpdated data frame:")
print(df)

Updated data frame:
     Name  Age   Country         City
0   Ujulu   28     Kenya        Jimma
1  Masiwa   32    Uganda  Addis Ababa
2     Ali   31  Ethiopia      Nairobi
3  Mosnet   28  Tanzania     Mombassa

<h4>
    Downloading file from kaggle.com and Importing the csv file from local machine 
</h4>

In [11]:
# Load the .csv data from local storage
df = pd.read_csv("C:/Users/dess/Downloads/home_sales.csv")

# Print the data frame
print(df)

          ID  BOROUGH   NEIGHBORHOOD  \
0          0        1  ALPHABET CITY
1          1        1  ALPHABET CITY
2          2        1  ALPHABET CITY
3          4        1  ALPHABET CITY
4          5        1  ALPHABET CITY
...      ...      ...            ...
67633  84541        5        WOODROW
67634  84542        5        WOODROW
67635  84543        5        WOODROW
67636  84545        5        WOODROW
67637  84546        5        WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
1      07 RENTALS - WALKUP APARTMENTS                                 2
2      07 RENTALS - WALKUP APARTMENTS                                 2
3      07 RENTALS - WALKUP APARTMENTS                                2A
4      07 RENTALS - WALKUP APARTMENTS                                 2
...                                            ...                  ...
67633  02 TWO FAMILY DWELLINGS                                        1
67634  02 TWO FAMILY DWELLINGS                                        1
67635  02 TWO FAMILY DWELLINGS                                        1
67636  02 TWO FAMILY DWELLINGS                                        1
67637  22 STORE BUILDINGS                                             4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  \
0        392    6                                  C2            153 AVENUE B
1        399   26                                  C7   234 EAST 4TH   STREET
2        399   39                                  C7   197 EAST 3RD   STREET
3        404   55                                  C2  301 EAST 10TH   STREET
4        405   16                                  C4  516 EAST 12TH   STREET
...      ...  ...       ...                       ...                     ...
67633   7317  126                                  B2         112 ROBIN COURT
67634   7339   41                                  B9          41 SONIA COURT
67635   7349   34                                  B9           37 QUAIL LANE
67636   7351   60                                  B2        49 PITNEY AVENUE
67637   7100   28                                  K6   2730 ARTHUR KILL ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0      ...                 5                 0            5              1633
1      ...                28                 3           31              4616
2      ...                16                 1           17              2212
3      ...                 6                 0            6              2369
4      ...                20                 0           20              2581
...    ...               ...               ...          ...               ...
67633  ...                 2                 0            2             11088
67634  ...                 2                 0            2              3020
67635  ...                 2                 0            2              2400
67636  ...                 2                 0            2              4000
67637  ...                 0                 7            7            208033

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
0                   6440       1900                         2
1                  18690       1900                         2
2                   7803       1900                         2
3                   4615       1900                         2
4                   9730       1900                         2
...                  ...        ...                       ...
67633               2160       1994                         1
67634               1800       1997                         1
67635               2575       1998                         1
67636               1496       1925                         1
67637              64117       2001                         4

       BUILDING CLASS AT TIME OF SALE        SALE DATE SALE PRICE
0                                  C2   7/19/2017 0:00    6625000
1                                  C7  12/14/2016 0:00        -
2                                  C7   12/9/2016 0:00        -
3                                  C2  11/17/2016 0:00    8000000
4                                  C4   7/20/2017 0:00        -
...                               ...              ...        ...
67633                              B2   12/7/2016 0:00     648000
67634                              B9   12/1/2016 0:00        -
67635                              B9  11/28/2016 0:00     450000
67636                              B2    7/5/2017 0:00     460000
67637                              K6  12/21/2016 0:00   11693337

[67638 rows x 22 columns]

In [12]:
df.head()

,ID,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE DATE,SALE PRICE
0,0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,7/19/2017 0:00,6625000
1,1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,12/14/2016 0:00,-
2,2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,12/9/2016 0:00,-
3,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,11/17/2016 0:00,8000000
4,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,,C4,516 EAST 12TH STREET,...,20,0,20,2581,9730,1900,2,C4,7/20/2017 0:00,-

<h4>Importing another file</h4>

In [39]:
 df2 = pd.read_csv("C:/Users/dess/Downloads/csvfile.csv")

#printing the first 5 menmbers of the csv file
#print("\n the first 5 members")
  df2.head()
#printing the last 5 memebers of the csv
#print("\n the last 5 members")
   df2.tail()

In [38]:
# printing both first and last 5 members 
print(df2)

       Id  size (sq.m)  noBed    SalePrice
0    1461          100      2  169277.0525
1    1462          120      2  187758.3940
2    1463           88      2  183583.6836
3    1464           94      2  179317.4775
4    1465          100      2  150730.0800
..    ...          ...    ...          ...
243  1704           94      2  177199.6186
244  1705          100      2  181878.6480
245  1706          120      2  173622.0887
246  1707           88      2  180728.1686
247  1708           94      2  176477.0266

[248 rows x 4 columns]

In [17]:
#Row size and column size
df.shape

(248, 4)

In [18]:
#printing on some condition
df.groupby('noBed')['noBed'].agg('count')

noBed
1    24
2    85
3    36
4    17
5    10
6    29
7    22
8    21
9     4
Name: noBed, dtype: int64

In [19]:
#Updating
# updating a value
df.loc[df['Id'] == 'Number', 'Description'] = 'Updated Description'
print(df[df['Id'] == 'Number'])

Empty DataFrame
Columns: [Id, size (sq.m), noBed, SalePrice, Description]
Index: []

In [20]:
# Deleting columns by name
# df2 = df.drop(['noBed','SalePrice', 'Id'], axis='columns')

In [21]:
#checking missing value or null value
df.isnull().sum()

Id             0
size (sq.m)    0
noBed          0
SalePrice      0
Description    0
dtype: int64

In [22]:
# checking number of columns
df.columns

Index(['Id', 'size (sq.m)', 'noBed', 'SalePrice', 'Description'], dtype='object')

In [23]:
#rename a column name
df.rename(columns={"noBed":"Beds"}, inplace=True)

In [24]:
# checking number of columns
df.columns

Index(['Id', 'size (sq.m)', 'Beds', 'SalePrice', 'Description'], dtype='object')

<h4>
    Creating dummy data for house prediction in Addis Ababa
</h4>

In [25]:


# Create a function to generate dumme(data)

# Generate dummy data for my_dat0a(10)

# Print tint(dummy_data)

In [27]:
# Create a function to generate dummy data for Addis Ababa house prediction
def generate_dummy_data(number_size):
    districts = ['Bole', 'Arada', 'Akaki', 'Lideta', 'Arabssa']
    areas = np.random.randint(50, 300, size=number_size)
    bedrooms = np.random.randint(1, 5, size=number_size)
    bathrooms = np.random.randint(1, 4, size=number_size)
    prices = np.random.randint(100000, 1000000, size=number_size)
    
    data = {
        'Place': np.random.choice(districts, size=number_size),
        'Area': areas,
        'Bedrooms': bedrooms,
        'Bathrooms': bathrooms,
        'Price': prices
    }
    return pd.DataFrame(data)

# Generate dummy data for Addis Ababa house prediction
 addis_ababa_dummy_data = generate_dummy_data(100)

# Print the dummy data
print(addis_ababa_dummy_data)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 19)

In [ ]:
# Saving the DataFrame to a CSV file
addis_ababa_dummy_data.to_csv('Addis_Ababa_house_data.csv', index=False)

print(addis_ababa_dummy_data.head(100))#returns the first 100 rows just for demonstrating purpose.